[[extend 'layout.html']]

<div class="section mx-6 px-3">
    <!-- Breadcrumbs -->
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="[[=URL('forum')]]">Forum</a></li>
            <li class="is-active"><a aria-current="page">[[=topic]]</a></li>
        </ul>
    </nav>
    <p class="title is-2 mb-2">[[=topic]]</p>
    <div class="column is-5 px-0">
        <!-- Display an add post button -->
        <a class="button is-primary is-medium is-fullwidth" href="[[=URL('forum_add_post', topic_id)]]">
            <span>Add Post</span>
            <span class="icon">
                <i class="fa fa-lg fa-plus"></i>
            </span>
        </a>
    </div>
    [[if len(posts) == 0:]]
    <div class="notification is-dark mt-6">
        <div class="title">
            No Posts Yet...
        </div>
    </div>
    [[pass]]

    <!-- Display list of posts in reverse chronological order -->
    [[for post in posts:]]
    <div class="notification is-light m-0">
        <p class="is-size-3">[[=post['post_title']]]</p>
        <p class="is-size-5">[[=post['post_content']]]</p>
        <p class="pt-3">Post by [[=post['name']]]</p>
    </div>
    <div class="column is-3 m-0 p-0">
        <a class="button is-link is-block" href="[[=URL('forum_post', post['id'])]]">
            View Post
        </a>
    </div>
    <div class="block"></div>
    [[pass]]
</div>