[[extend 'layout.html']]

<style>
    body {
        height: 100vh;
        background-color: rgb(245, 255, 245);
    }
</style>


<div class="section mx-6 px-3" page>
    <div class="columns">
        <!-- Message introducing user to forum page -->
        <div class="column is-4">
            <div class="message is-success">
                <div class="message-header is-size-4">
                    Forum Page
                </div>
                <div class="message-body is-size-5">
                    Click one of the topics to the right to view posts in that category.
                </div>
            </div>
        </div>

        <!-- Current list of topics in alphabetical order -->
        <div class="column">
            <div class="notification is-success">
                <div class="level">
                    <div class="level-left">
                        <p class="title is-4">Topic A</p>
                    </div>
                    <div class="level-right">
                        <a class="button is-info" href="[[=URL('forum_cat', 'Hello')]]">
                            View Topic
                        </a>
                    </div>
                </div>
            </div>
            <div class="notification is-success">
                <div class="level">
                    <div class="level-left">
                        <p class="title is-4">Topic B</p>
                    </div>
                    <div class="level-right">
                        <a class="button is-info" href="[[=URL('forum_cat', 'Hello')]]">
                            View Topic
                        </a>
                    </div>
                </div>
            </div>
            <div class="notification is-success">
                <div class="level">
                    <div class="level-left">
                        <p class="title is-4">Topic C</p>
                    </div>
                    <div class="level-right">
                        <a class="button is-info" href="[[=URL('forum_cat', 'Hello')]]">
                            View Topic
                        </a>
                    </div>
                </div>
            </div>
            <div class="notification is-success">
                <div class="level">
                    <div class="level-left">
                        <p class="title is-4">Topic D</p>
                    </div>
                    <div class="level-right">
                        <a class="button is-info" href="[[=URL('forum_cat', 'Hello')]]">
                            View Topic
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add topic button -->
            <a class="button is-primary is-large is-pulled-right" href="=[[URL('forum_add_topic')]]">
                <span>Add New Topic</span>
                <span class="icon">
                    <i class="fa fa-lg fa-plus"></i>
                </span>
            </a>
        </div>
    </div>
</div>


