[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
</style>    

<div class="section pl-6 pr-6" id="vue-target" v-cloak>
   <div class="columns">
      <div class="column is-half">
         <div class="columns is-centered">
            <div class="column is-two-thirds">
               <div class="title">Personal Performance vs S&P500</div>
               
            </div>
         </div>
      </div>
      <div class="column">
         <div class="columns is-centered">
            <div class="column is-two-thirds">
               <div class="title">Position List</div>
            </div>
         </div>
      </div>
   </div>
</div>

[[block page_scripts]]
<!-- Loads the portfolio-specific js for Vue -->
<script src="js/portfolio.js"></script>
[[end]]
