[[extend 'layout.html']]

<div class="section pl-6 pr-6" style="font-weight: bold; font-size: 24px;">
   <div class="title is-1">
      Profile Page
   </div>
   <div class="notification" style="min-height: 20vh; background-color: aqua;">
      Profile
      <div class="columns mt-3">
         <div class="column is-2">
            <div class="notification" style="min-height: 15vh; background-color: aliceblue;">
               Profile Pic
            </div>
         </div>
         <div class="column is-8">
            User Info...
         </div>
         <div class="column is-2">
            <div class="notification" style="background-color:indianred;">
               Edit Profile
            </div>
            <div class="notification" style="background-color:darkseagreen;">
               Log out
            </div>
         </div>
      </div>
   </div>
   <div class="columns">
      <div class="column is-8">
         <div class="notification" style="min-height: 40vh; background-color: green;">
            Personal Performance
         </div>
      </div>
      <div class="column is-4">
         <div class="notification" style="min-height: 40vh; background-color: yellow;">
            Friends list
         </div>
      </div>
   </div>
</div>
