[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
</style>    

<div class="section" id="vue-target" v-cloak>
    <div class="columns">
        <div class="column is-two-thirds notification is-dark m-1">
            <div class="block">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Search for a company">
                    </div>
                </div>
            </div>
            
            <div class="block">
                <table class="table is-fullwidth is-striped is-hoverable">
                    <thead>
                        <th>Company Name</th>
                        <th>Price</th>
                        <th>Something else</th>
                        <th>Another thing</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Apple</td>
                            <td>123</td>
                            <td>stuff</td>
                            <td>stuff</td>
                        </tr>
                        <tr>
                            <td>Apple</td>
                            <td>123</td>
                            <td>stuff</td>
                            <td>stuff</td>
                        </tr>
                        <tr>
                            <td>Apple</td>
                            <td>123</td>
                            <td>stuff</td>
                            <td>stuff</td>
                        </tr>
                        <tr>
                            <td>Apple</td>
                            <td>123</td>
                            <td>stuff</td>
                            <td>stuff</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column notification is-dark m-1">
        
            <div class="box">
                <h1 class="title is-4">Stock preview (click image)</h1>
                <a href="[[=URL('company')]]">
                    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/499/826/2f0.png">
                </a>
            </div>
            <div class="box has-text-centered">
                <p><a href="">Buy</a> <a href="">Sell</a></p>
                <p><a href="">Call</a> <a href="">Put</a></p>
             </div>
        </div>
        
    </div>
</section>

[[block page_scripts]]
<!-- Loads the search-specific js for Vue -->
<script src="js/search.js"></script>
[[end]]
