[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
</style>    

<div class="section" id="vue-target" v-cloak>
    <div class="columns">
        <div class="column is-two-thirds notification is-dark m-1">
            <!-- Search bar -->
            <div class="block">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Search for a company" v-model = "search"  @change = "search_company">
                    </div>
                </div>
            </div>
            
            <!-- Table of companies -->
            <div class="block">
                <table class="table is-fullwidth is-striped is-hoverable">
                    <thead>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        <tr v-for = "r in search_rows">
                            <td>
                                <p>{{r.company_name}}</p>
                            </td>
                            <td>
                                <p>{{r.company_symbol}}</p>
                            </td>
                            <td>
                                <p>{{r.current_stock_value.toFixed(3)}}</p>
                            </td>
                            <!-- Visit company page button -->
                            <td>
                                <a class = "button is-success" v-bind:href="r.url">
                                    <span class = "icon"><i class = "fa fa-angle-right"></i></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column notification is-dark m-1">
            <!-- Stock Preview -->
            <div class="box">
                <h1 class="title is-4">Stock Preview</h1>
                <!-- Display graph of current top company in the table -->
                <div class="block" id="chart_div"></div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the search-specific js for Vue -->
<script>
    let search_data_url = "[[=XML(search_data_url)]]";
    let company_url = "[[=XML(company_url)]]";
    get_history_url = "[[=XML(get_history_url)]]";
</script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/Plotter.js"></script>
<script src="js/search.js"></script>
[[end]]
